@charset "utf-8";
/* CSS Document */

h2#titulo {color:teal;}
h2#subtitulo {color:blue;}

strong {color:red;}

span.destacado {color:orange;}


div#ejerciciocss a {color:red;}
a em {color:blue;}

span.especial {color:purple}


div#adicional {color:olive;}
div#adicional a {color:green;}
div#adicional span#especial { color: fuchsia; }

caption {color:blue; alignment-adjust:central}
table, tr, th, td {border:1px solid #000; border-collapse:collapse; padding:5px; }
td {color:green;}
td strong {color:orange;}
th.especial {color:orange;}
th {color:red;}

